body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


.main-content {
    margin-left: 350px;
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
}

.profile-info p {
    margin: 5px 0;
    color: #555;
}

.profile-info button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-info button:hover {
    background-color: #4e00c2;
}

.contributions {
    margin-top: 20px;
}

.contributions h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    border-bottom: 2px solid transparent;
}

.tabs button.active {
    color: #6200ea;
    border-bottom: 2px solid #6200ea;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}

.post p {
    margin: 0;
    color: #555;
    font-size: 14px;
}

.post span {
    display: block;
    margin-top: 5px;
    color: #999;
    font-size: 12px;
}
.sidebar {
    width: 300px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
}

.sidebar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}


.sidebar nav ul li {
    margin: 10px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1px 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.sidebar nav ul li:hover, .sidebar nav ul li.active {
    background-color: #eef3ff;
    color: #4a90e2;
}

.sidebar .profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sidebar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}